<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/index.css">

</head>
<body>
    

<div id="navbar">
    <ul>
        <li><a href="/">Home</a> </li>
        <li><a href="">About</a> </li>
        <li><a href="">Services</a> </li>
        <li><a href="">Class info</a> </li>
        <li><a href="/contact">Contact us</a> </li>
    </ul>
</div>
<div id="section">
 | Welcome to Suvankar's Dance Acadeamy

</div>

<div id="misson">
    <h2>misson</h2>
    <div class="card">card1 
        <img src="../static/logo3.png" alt="">
        <p>Dance like you never danced before</p>
    </div>
    <div class="card">card2
        <img src="../static/logo2.png" alt="">
        <p>Dance till the stars come down from the rafters</p>
    </div>
    <div class="card">card3 
        <img src="../static/logo1.png" alt="">
        <p>Dance to express, not to impress</p>
    </div>
   
      
</div>

<div id="sponcers">
    <h3>Our Sponsors</h3>
    <div class="image">
        
            <img src="../static/sponsors.png" alt="">
            <img src="../static/sponsors4.jpg" alt="">
            <img src="../static/sponsors3.jpg" alt="">
            <img src="../static/sponsors2.png" alt="">

       
   
   
   
   


    </div>
    



</div>

<div id="footer">
    | copyright @ 2020 SuvankarDanceAcadeamy.com | All rights reserved

</div>
</body>
</html>